USE [AddressPDX_Edit]
GO
/****** Object:  StoredProcedure [BDSAdmin].[MAR_METRIC_DELETE_RECREATE_METRICS_GOOGLE]    Script Date: 9/9/2014 9:11:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [BDSAdmin].[MAR_METRIC_DELETE_RECREATE_METRICS_GOOGLE]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- process google estimated location
	DELETE FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE]
	
	INSERT [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE]
		([OBJECTID],[ADDRESS_ID],[GOOGLE_ADDRESS],GOOGLE_MATCH_METHOD,FEET_BETWEEN_POINTS,SHAPE)
	SELECT 
	GOOGLE.OBJECTID,
	MAX(GOOGLE.ADDRESS_ID),
	MAX(GOOGLE.formatted_address),
	MAX(GOOGLE.location_type),
	(geometry::STLineFromText('LINESTRING(' + str(MAX(SUMMARY.MAR_X),15,5)  + ' ' + str(MAX(SUMMARY.MAR_Y),15,5) + ', ' + str(MAX(GOOGLE.SHAPE.STX),15,5)  + ' ' +  str(MAX(GOOGLE.SHAPE.STY) ,15,5) + ')', 2913)).STLength() FEET_BETWEEN_POINTS,
	geometry::STLineFromText('LINESTRING(' + str(MAX(SUMMARY.MAR_X),15,5)  + ' ' + str(MAX(SUMMARY.MAR_Y),15,5) + ', ' + str(MAX(GOOGLE.SHAPE.STX),15,5)  + ' ' +  str(MAX(GOOGLE.SHAPE.STY) ,15,5) + ')', 2913) SHAPE
	FROM MAR_METRIC_ADDRESSPOINT_LOCATION_GOOGLE GOOGLE
	INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	ON GOOGLE.ADDRESS_ID = SUMMARY.ADDRESS_ID
	GROUP BY GOOGLE.OBJECTID


	-- get spatially coincident taxlot
	UPDATE [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE]  
	SET TAXLOT_COUNT = (CASE WHEN GOOG_CONNECT.TL_COUNT is not Null THEN  GOOG_CONNECT.TL_COUNT  ELSE 0 END)
	FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE]  GOOG
	LEFT OUTER JOIN 
	(SELECT COUNT(TL.OBJECTID) TL_COUNT ,GT.ADDRESS_ID ADDRESS_ID FROM 
	[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE] GT
	INNER JOIN
	[BDSAdmin].[MAR_REFERENCE_TAXLOTS] TL 
	ON
	(GT.SHAPE).STIntersects(TL.SHAPE) = 1 
	--WHERE GT.SHAPE.STX is not null and GT.SHAPE.STY is not null
	GROUP BY GT.ADDRESS_ID
	) GOOG_CONNECT 
	ON GOOG.ADDRESS_ID = GOOG_CONNECT.ADDRESS_ID

	--update google location with tax lot count
	UPDATE  [BDSAdmin].[MAR_METRIC_ADDRESSPOINT_LOCATION_GOOGLE]
	SET TAXLOT_COUNT = GOOG_CONNECT.TAXLOT_COUNT
	FROM [BDSAdmin].[MAR_METRIC_ADDRESSPOINT_LOCATION_GOOGLE] GOOG_LOC
	INNER JOIN 
	[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE] GOOG_CONNECT
	ON GOOG_LOC.ADDRESS_ID = GOOG_CONNECT.ADDRESS_ID
	
	-- get distance from address point to MAR associated tax lot centroid
	UPDATE [BDSAdmin].[MAR_METRIC_SUMMARY]  SET 
	[FEET_FROM_TAXLOT_CENTRIOD] = 0
	FROM  [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE [FEET_FROM_TAXLOT_CENTRIOD] is null

	-- set MAR address in discrepancy 
	UPDATE [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE]
	SET MAR_ADDRESS = MAR_METRIC_SUMMARY.ADDRESS_DESCRIPTION
	FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE]
	INNER JOIN 
	[MAR_METRIC_SUMMARY] 
	ON [MAR_METRIC_SUMMARY].ADDRESS_ID = [MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE].ADDRESS_ID
	
	--set summary details for google metrics
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	GOOGLE_LOC_LOT_COUNT = GOOG_CONNECT.TAXLOT_COUNT,
	GOOGLE_LOC_FEET_DIFFERENCE = GOOG_CONNECT.SHAPE.STLength(),
	GOOGLE_LOC_MATCH_TYPE = GOOG_CONNECT.GOOGLE_MATCH_METHOD,
	GOOGLE_ADDRESS_DESCRIPTION = GOOG_CONNECT.GOOGLE_ADDRESS
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	INNER JOIN 
	[MAR_METRIC_LOCATION_DISCREPANCY_GOOGLE] GOOG_CONNECT
	ON SUMMARY.ADDRESS_ID = GOOG_CONNECT.ADDRESS_ID

	--set summary details for smarty metrics
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	GOOGLE_LOC_MATCH_TYPE = NOT_FOUND.NOTES
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	INNER JOIN 
	[MAR_METRIC_ADDRESS_NOT_FOUND] NOT_FOUND
	ON SUMMARY.ADDRESS_ID = NOT_FOUND.ADDRESS_ID
	WHERE NOT_FOUND.SOURCE_IN_WHICH_NOT_FOUND = 'Google Maps'


END
