USE [AddressPDX_Edit]
GO
/****** Object:  StoredProcedure [BDSAdmin].[MAR_METRIC_DELETE_RECREATE_METRICS_CENTERLINE]    Script Date: 9/9/2014 9:11:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [BDSAdmin].[MAR_METRIC_DELETE_RECREATE_METRICS_CENTERLINE]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- delete and recreate MAR_METRIC_LOCATION_DISCREPANCY_CENTERLINE
	DELETE FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_CENTERLINE]

	INSERT [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_CENTERLINE]
		([OBJECTID],[ADDRESS_ID],[CENTERLINE_ADDRESS],MAR_ADDRESS,FEET_BETWEEN_POINTS,SHAPE)
	SELECT 
	CL.OBJECTID,
	MAX(CL.ADDRESS_ID),
	MAX(CL.[Match_addr]),
	MAX(CL.ADDRESS_FULL),
	(geometry::STLineFromText('LINESTRING(' + str(MAX(SUMMARY.MAR_X),15,5)  + ' ' + str(MAX(SUMMARY.MAR_Y),15,5) + ', ' + str(MAX(CL.SHAPE.STX),15,5)  + ' ' +  str(MAX(CL.SHAPE.STY) ,15,5) + ')', 2913)).STLength() FEET_BETWEEN_POINTS,
	geometry::STLineFromText('LINESTRING(' + str(MAX(SUMMARY.MAR_X),15,5)  + ' ' + str(MAX(SUMMARY.MAR_Y),15,5) + ', ' + str(MAX(CL.SHAPE.STX),15,5)  + ' ' +  str(MAX(CL.SHAPE.STY) ,15,5) + ')', 2913) SHAPE
	FROM MAR_METRIC_ADDRESSPOINT_LOCATION_CENTERLINE CL
	INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	ON CL.ADDRESS_ID = SUMMARY.ADDRESS_ID
	WHERE CL.STATUS <> 'U'
	GROUP BY CL.OBJECTID
	
	-- get centerline metrics  - the initial flag for whether of not a street is cross is stored in the summary table
	UPDATE [BDSAdmin].[MAR_METRIC_SUMMARY]  SET CENTERLINE_STREET_CROSSED_COUNT =  STREET_CROSS_COUNT, FEET_FROM_CENTERLINE_LOCATION = CENTERLINE_CONNECT_LENGTH
	FROM  [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	INNER JOIN 
	(SELECT CL_CONNECT.ADDRESS_ID, CL_CONNECT.SHAPE.STLength() CENTERLINE_CONNECT_LENGTH,
	(SELECT  COUNT (CL.OBJECTID) CENTERLINE_STREET_CROSSED_COUNT FROM [BDSAdmin].[MAR_REFERENCE_CENTERLINE] CL  
	WHERE  CL_CONNECT.SHAPE.STIntersects(CL.SHAPE) = 1 and  STREETNAME <> 'UNNAMED') STREET_CROSS_COUNT
	FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_CENTERLINE] CL_CONNECT ) AS CROSS_INFO
	ON CROSS_INFO.ADDRESS_ID = SUMMARY.ADDRESS_ID

	--set street crossed count
	UPDATE  [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_CENTERLINE]  
	SET [CENTERLINE_STREET_CROSSED_COUNT] =  SUMMARY.[CENTERLINE_STREET_CROSSED_COUNT]
	FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_CENTERLINE] CL_CROSS
	INNER JOIN 
	[BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	ON CL_CROSS.ADDRESS_ID = SUMMARY.ADDRESS_ID

	--set street crossed count in centerline point layer.
	UPDATE  [BDSAdmin].[MAR_METRIC_ADDRESSPOINT_LOCATION_CENTERLINE]
	SET [CENTERLINE_STREET_CROSSED_COUNT] =  SUMMARY.[CENTERLINE_STREET_CROSSED_COUNT]
	FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_CENTERLINE] CL_CROSS
	INNER JOIN 
	[BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	ON CL_CROSS.ADDRESS_ID = SUMMARY.ADDRESS_ID





END
