USE [AddressPDX_Edit]
GO
/****** Object:  StoredProcedure [BDSAdmin].[MAR_METRIC_RANK_ADDRESSES]    Script Date: 9/9/2014 9:12:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [BDSAdmin].[MAR_METRIC_RANK_ADDRESSES]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		--set summary details whether or not an address needs review
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ADDRESS_ACCURACY_SCORE = 0,ALL_METRICS_RAN = 'NO'

	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ALL_METRICS_RAN = 'YES'
	WHERE ADDRESS_ON_BLDG is not null and 
	ADDRESS_ON_LOT is not null and 
	GOOGLE_LOC_LOT_COUNT is not null and
	CENTERLINE_STREET_CROSSED_COUNT is not null and
	SMARTY_STREETS_VALID_MAIL is not null and 
	SMARTY_STREETS_LOT_COUNT is not null and
	SMARTY_STREETS_STREET_COUNT is not null


	-- assign 1 point if address on building
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ADDRESS_ACCURACY_SCORE = ADDRESS_ACCURACY_SCORE + 1
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE [ADDRESS_ON_BLDG] = 'YES' 

	-- assign 3 points if address on lot or in water
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ADDRESS_ACCURACY_SCORE = ADDRESS_ACCURACY_SCORE + 3
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE [ADDRESS_ON_LOT] = 'YES' OR ADDRESS_ON_LOT = 'H20' 

	---- assign 1 points if address on lot = NA
	--UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	--SET 
	--ADDRESS_ACCURACY_SCORE = ADDRESS_ACCURACY_SCORE + 1
	--FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	--WHERE [ADDRESS_ON_LOT] = 'NA'

	-- assign 2 points if google location is on lot
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ADDRESS_ACCURACY_SCORE = ADDRESS_ACCURACY_SCORE + 2
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE [GOOGLE_LOC_LOT_COUNT] = 1

	-- assign 2 points if address close to centerline.
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ADDRESS_ACCURACY_SCORE = ADDRESS_ACCURACY_SCORE + 2
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE  [CENTERLINE_STREET_CROSSED_COUNT] = 0

	-- assign 1 point if mailing address valid with smarty streets
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ADDRESS_ACCURACY_SCORE = ADDRESS_ACCURACY_SCORE + 1
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE  SMARTY_STREETS_VALID_MAIL = 'Y'

	-- assign 1 point if address is not across a street from smarty street estimated location.
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ADDRESS_ACCURACY_SCORE = ADDRESS_ACCURACY_SCORE + 1
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE  SMARTY_STREETS_STREET_COUNT = 0

-------------------------------------------------------------------------------------------------------

	--set summary details whether or not an address needs review
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ACCURACY_REVIEW_STATUS = 'NDF'
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY where ACCURACY_REVIEW_STATUS <> 'INV BLDG C'

	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	ACCURACY_REVIEW_STATUS =  'DFL1'
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	WHERE ADDRESS_ACCURACY_SCORE < 6 and DATA_SOURCE NOT LIKE '%CGIS%' and DATA_SOURCE NOT LIKE '%DME%' and ACCURACY_REVIEW_STATUS <> 'INV BLDG C'

	------------------------------------------------------------------------------------------------------build reporting metrics---------------

	---- delete all quarter section metrics
	--DELETE FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION]

	----insert all quarter sections that have addresses
	--INSERT INTO [BDSAdmin].[MAR_METRIC_QUARTERSECTION]
	--	(OBJECTID,[QTRSEC],[SHAPE],[Address_Point_Count],[GOOGLE_DISCREPANCY_COUNT],[CENTERLINE_DISCREPANCY_COUNT],[TAXLOT_DISCREPANCY_COUNT],[BUILDING_DISCREPANCY_COUNT])
	--SELECT QS.OBJECTID
	--		,MAX(QS.QTRSEC)
	--		,geometry::STPolyFromText(MAX(QS.SHAPE.ToString()), 2913)
	--		,COUNT(MAR_SUMMARY.OBJECTID) ADDRESS_COUNT
	--		,0,0,0,0
	--FROM [BDSAdmin].[MAR_REFERENCE_QUARTERSECTION] QS
	--INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] MAR_SUMMARY ON QS.SHAPE.STIntersects(geometry::Point(MAR_SUMMARY.MAR_X, MAR_SUMMARY.MAR_Y, 2913)) = 1
	--GROUP BY QS.OBJECTID

	---- populate quad for each quarter sections
	--UPDATE [BDSAdmin].[MAR_METRIC_QUARTERSECTION]
	--SET QUAD = (CASE WHEN QUAD.QUAD is not Null THEN  QUAD.QUAD  ELSE 'UN' END)
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS
	--LEFT OUTER JOIN 
	--	[BDSAdmin].[MAR_METRIC_QUADRANT] QUAD
	--ON
	--	QS.SHAPE.STCentroid().STIntersects(QUAD.SHAPE) = 1 

	---- populate stats for google violations
	--UPDATE [BDSAdmin].[MAR_METRIC_QUARTERSECTION]
	--SET [GOOGLE_DISCREPANCY_COUNT] = GOOGLE_AGG
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS
	--INNER JOIN 
	--(SELECT COUNT([GOOGLE_LOC_LOT_COUNT]) GOOGLE_AGG,QS_SUB.[QTRSEC]   
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS_SUB
	--INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] MAR_SUMMARY
	--ON QS_SUB.SHAPE.STIntersects(geometry::Point(MAR_SUMMARY.MAR_X, MAR_SUMMARY.MAR_Y, 2913)) = 1
	--WHERE MAR_SUMMARY.[GOOGLE_LOC_LOT_COUNT] > 1  and DATA_SOURCE NOT LIKE '%CGIS%' and DATA_SOURCE NOT LIKE '%DME%'
	--GROUP BY QS_SUB.[QTRSEC] ) AS SQLSUB_Q
	--ON QS.QTRSEC = SQLSUB_Q.QTRSEC


	---- populate stats for centerline violations
	--UPDATE [BDSAdmin].[MAR_METRIC_QUARTERSECTION]
	--SET [CENTERLINE_DISCREPANCY_COUNT] = CENTERLINE_AGG
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS
	--INNER JOIN 
	--(SELECT COUNT([CENTERLINE_STREET_CROSSED_COUNT]) CENTERLINE_AGG,QS_SUB.[QTRSEC]   
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS_SUB
	--INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] MAR_SUMMARY
	--ON QS_SUB.SHAPE.STIntersects(geometry::Point(MAR_SUMMARY.MAR_X, MAR_SUMMARY.MAR_Y, 2913)) = 1
	--WHERE MAR_SUMMARY.[CENTERLINE_STREET_CROSSED_COUNT] > 0  and DATA_SOURCE NOT LIKE '%CGIS%' and DATA_SOURCE NOT LIKE '%DME%'
	--GROUP BY QS_SUB.[QTRSEC] ) AS SQLSUB_Q
	--ON QS.QTRSEC = SQLSUB_Q.QTRSEC

	---- populate stats for tax lot violations
	--UPDATE [BDSAdmin].[MAR_METRIC_QUARTERSECTION]
	--SET [TAXLOT_DISCREPANCY_COUNT] = TAXLOT_AGG
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS
	--INNER JOIN 
	--(SELECT COUNT(ADDRESS_ON_LOT) TAXLOT_AGG,QS_SUB.[QTRSEC]   
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS_SUB
	--INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] MAR_SUMMARY
	--ON QS_SUB.SHAPE.STIntersects(geometry::Point(MAR_SUMMARY.MAR_X, MAR_SUMMARY.MAR_Y, 2913)) = 1
	--WHERE [ADDRESS_ON_LOT] = 'NO' or [ADDRESS_ON_LOT] = 'NA' or [ADDRESS_ON_LOT] = 'NTL'
	--GROUP BY QS_SUB.[QTRSEC] ) AS SQLSUB_Q
	--ON QS.QTRSEC = SQLSUB_Q.QTRSEC

	---- populate stats for building violations
	--UPDATE [BDSAdmin].[MAR_METRIC_QUARTERSECTION]
	--SET [BUILDING_DISCREPANCY_COUNT] = BUILDING_AGG
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS
	--INNER JOIN 
	--(SELECT COUNT([ADDRESS_ON_BLDG]) BUILDING_AGG,QS_SUB.[QTRSEC]   
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS_SUB
	--INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] MAR_SUMMARY
	--ON QS_SUB.SHAPE.STIntersects(geometry::Point(MAR_SUMMARY.MAR_X, MAR_SUMMARY.MAR_Y, 2913)) = 1
	--WHERE [ADDRESS_ON_BLDG] = 'NO'  and DATA_SOURCE NOT LIKE '%CGIS%' and DATA_SOURCE NOT LIKE '%DME%'
	--GROUP BY QS_SUB.[QTRSEC] ) AS SQLSUB_Q
	--ON QS.QTRSEC = SQLSUB_Q.QTRSEC

	---- count number addresses needing review 
	--UPDATE [BDSAdmin].[MAR_METRIC_QUARTERSECTION]
	--SET ADDRESS_WITH_DISCREPANCY_COUNT = TOTAL_AGG_SUM.ADDRESS_WITH_DISCREPANCY_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] QS
	--INNER JOIN 
	--(SELECT QUARTER_SECTION, count(ADDRESS_ACCURACY_SCORE) ADDRESS_WITH_DISCREPANCY_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_SUMMARY]
	--WHERE ADDRESS_ACCURACY_SCORE < 6  and DATA_SOURCE NOT LIKE '%CGIS%' and DATA_SOURCE NOT LIKE '%DME%'
	--GROUP BY QUARTER_SECTION) AS TOTAL_AGG_SUM
	--ON QS.QTRSEC = TOTAL_AGG_SUM.QUARTER_SECTION

	-------------------------------------------------------------------------------------------------------------------------------------------------------------

	---- update quadrant total address points
	--UPDATE [BDSAdmin].[MAR_METRIC_QUADRANT]
	--SET [ADDRESS_POINT_COUNT] = QUAD_AP_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_QUADRANT] QUAD
	--INNER JOIN 
	--(SELECT SUM([Address_Point_Count]) QUAD_AP_COUNT, QUAD
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] GROUP BY QUAD ) AS TOTAL_QS_SUM
	--ON TOTAL_QS_SUM.QUAD = QUAD.QUAD

	---- update quadrant total centerline discrepencies
	--UPDATE [BDSAdmin].[MAR_METRIC_QUADRANT]
	--SET [CENTERLINE_DISCREPANCY_COUNT] = QUAD_CL_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_QUADRANT] QUAD
	--INNER JOIN 
	--(SELECT SUM(CENTERLINE_DISCREPANCY_COUNT) QUAD_CL_COUNT, QUAD
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] GROUP BY QUAD ) AS TOTAL_QS_SUM
	--ON TOTAL_QS_SUM.QUAD = QUAD.QUAD

	---- update quadrant total google discrepencies
	--UPDATE [BDSAdmin].[MAR_METRIC_QUADRANT]
	--SET [GOOGLE_DISCREPANCY_COUNT] = QUAD_GOOGLE_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_QUADRANT] QUAD
	--INNER JOIN 
	--(SELECT SUM(GOOGLE_DISCREPANCY_COUNT) QUAD_GOOGLE_COUNT, QUAD
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] GROUP BY QUAD ) AS TOTAL_QS_SUM
	--ON TOTAL_QS_SUM.QUAD = QUAD.QUAD

	---- update quadrant total building discrepencies
	--UPDATE [BDSAdmin].[MAR_METRIC_QUADRANT]
	--SET [BUILDING_DISCREPANCY_COUNT] = QUAD_BUILDING_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_QUADRANT] QUAD
	--INNER JOIN 
	--(SELECT SUM(BUILDING_DISCREPANCY_COUNT) QUAD_BUILDING_COUNT, QUAD
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] GROUP BY QUAD ) AS TOTAL_QS_SUM
	--ON TOTAL_QS_SUM.QUAD = QUAD.QUAD

	---- update quadrant total tax lot discrepencies
	--UPDATE [BDSAdmin].[MAR_METRIC_QUADRANT]
	--SET [TAXLOT_DISCREPANCY_COUNT] = QUAD_TAXLOT_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_QUADRANT] QUAD
	--INNER JOIN 
	--(SELECT SUM(TAXLOT_DISCREPANCY_COUNT) QUAD_TAXLOT_COUNT, QUAD
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] GROUP BY QUAD ) AS TOTAL_QS_SUM
	--ON TOTAL_QS_SUM.QUAD = QUAD.QUAD


	----update quadrant total discrepancy
	--UPDATE [BDSAdmin].[MAR_METRIC_QUADRANT]
	--SET 
	--ADDRESS_WITH_DISCREPANCY_COUNT = DISCREPANCY_COUNT
	--FROM [BDSAdmin].[MAR_METRIC_QUADRANT] QUAD
	--INNER JOIN 
	--(SELECT SUM(ADDRESS_WITH_DISCREPANCY_COUNT) DISCREPANCY_COUNT, QUAD
	--FROM [BDSAdmin].[MAR_METRIC_QUARTERSECTION] 
	--GROUP BY QUAD ) AS TOTAL_QS_SUM
	--ON TOTAL_QS_SUM.QUAD = QUAD.QUAD

END
