USE [AddressPDX_Edit]
GO
/****** Object:  StoredProcedure [BDSAdmin].[MAR_METRIC_DELETE_RECREATE_METRICS_SMARTY_STREETS]    Script Date: 9/9/2014 9:11:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [BDSAdmin].[MAR_METRIC_DELETE_RECREATE_METRICS_SMARTY_STREETS]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- process google estimated location
	DELETE FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS]
	
	INSERT [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS]
		([OBJECTID],[ADDRESS_ID],SMARTY_STREETS_ADDRESS,SMARTY_MATCH_METHOD,VALID_MAIL_ADDRESS,FEET_BETWEEN_POINTS,SHAPE)
	SELECT 
	SMARTY.OBJECTID,
	MAX(SMARTY.ADDRESS_ID),
	MAX(SMARTY.delivery_line_1),
	MAX(SMARTY.record_type),
	MAX(SMARTY.dpv_match_code),
	geometry::STLineFromText('LINESTRING(' + str(MAX(SUMMARY.MAR_X),15,5)  + ' ' + str(MAX(SUMMARY.MAR_Y),15,5) + ', ' + str(MAX(SMARTY.SHAPE.STX),15,5)  + ' ' +  str(MAX(SMARTY.SHAPE.STY) ,15,5) + ')', 2913).STLength(),
	geometry::STLineFromText('LINESTRING(' + str(MAX(SUMMARY.MAR_X),15,5)  + ' ' + str(MAX(SUMMARY.MAR_Y),15,5) + ', ' + str(MAX(SMARTY.SHAPE.STX),15,5)  + ' ' +  str(MAX(SMARTY.SHAPE.STY) ,15,5) + ')', 2913) SHAPE
	FROM MAR_METRIC_ADDRESSPOINT_LOCATION_SMARTYSTREETS SMARTY
	INNER JOIN [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	ON SMARTY.ADDRESS_ID = SUMMARY.ADDRESS_ID
	GROUP BY SMARTY.OBJECTID

	-- get centerline metrics
	UPDATE [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS]  SET STREET_COUNT =  STREET_CROSS_COUNT
	FROM  [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS] SUMMARY
	INNER JOIN 
	(SELECT SMARTY_CONNECT.ADDRESS_ID, 
	(SELECT  COUNT (CL.OBJECTID) CENTERLINE_STREET_CROSSED_COUNT FROM [BDSAdmin].[MAR_REFERENCE_CENTERLINE] CL  
	WHERE  SMARTY_CONNECT.SHAPE.STIntersects(CL.SHAPE) = 1 and  STREETNAME <> 'UNNAMED') STREET_CROSS_COUNT
	FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS] SMARTY_CONNECT ) AS SMARTY_INFO
	ON SMARTY_INFO.ADDRESS_ID = SUMMARY.ADDRESS_ID

	
	--set summary details for smarty metrics
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	SMARTY_STREETS_STREET_COUNT =  SMARTY_CONNECT.STREET_COUNT,
	SMARTY_STREETS_FEET_DIFFERENCE = SMARTY_CONNECT.SHAPE.STLength(),
	SMARTY_STREETS_MATCH_TYPE = SMARTY_CONNECT.SMARTY_MATCH_METHOD,
	SMARTY_STREETS_VALID_MAIL = SMARTY_CONNECT.VALID_MAIL_ADDRESS
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	INNER JOIN 
	[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS] SMARTY_CONNECT
	ON SUMMARY.ADDRESS_ID = SMARTY_CONNECT.ADDRESS_ID


	--set summary details for smarty metrics
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	[SMARTY_STREETS_MATCH_TYPE] = 'NM'
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	INNER JOIN 
	[MAR_METRIC_ADDRESS_NOT_FOUND] NOT_FOUND
	ON SUMMARY.ADDRESS_ID = NOT_FOUND.ADDRESS_ID
	WHERE NOT_FOUND.SOURCE_IN_WHICH_NOT_FOUND = 'Smarty Streets' and NOT_FOUND.NOTES = 'NO JSON RESPONSE'

	--set summary details for smarty metrics
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	[SMARTY_STREETS_MATCH_TYPE] = 'OJ'
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	INNER JOIN 
	[MAR_METRIC_ADDRESS_NOT_FOUND] NOT_FOUND
	ON SUMMARY.ADDRESS_ID = NOT_FOUND.ADDRESS_ID
	WHERE NOT_FOUND.SOURCE_IN_WHICH_NOT_FOUND = 'Smarty Streets' and NOT_FOUND.NOTES = 'Outside Jurisdiction'


	--set summary details for smarty metrics
	UPDATE  [BDSAdmin].[MAR_METRIC_SUMMARY]
	SET 
	[SMARTY_STREETS_MATCH_TYPE] = 'NA'
	FROM [BDSAdmin].[MAR_METRIC_SUMMARY] SUMMARY
	where [ADDRESS_DESCRIPTION] like '%/%' or [ADDRESS_DESCRIPTION] like '%-%' 


	-- set MAR address in discrepancy 
	UPDATE [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS]
	SET MAR_ADDRESS = MAR_METRIC_SUMMARY.ADDRESS_DESCRIPTION
	FROM [BDSAdmin].[MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS]
	INNER JOIN 
	[MAR_METRIC_SUMMARY] 
	ON [MAR_METRIC_SUMMARY].ADDRESS_ID = [MAR_METRIC_LOCATION_DISCREPANCY_SMARTYSTREETS].ADDRESS_ID

END
